*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  height: 100vh;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.mainContainer {
  margin: 0 auto;
  padding: 0;
  padding-bottom: 1rem;
  background-color: #f2f8ff;
  height: auto;
}
nav {
  color: #fff;
  font-size: .9rem;
  }
.navbar-brand {
  font-size: 1.4rem;
  color: #faf8a5!important;
  text-transform: capitalize;
}
.navbar a:hover {
color: #a2f39b;
opacity: .8;
}
.navbar-brand a:hover {
  opacity: 0;
}

/* ************************* */
.displayWrapperMain, .displayWrapperDashboard, 
.displayWrapperExercise {
  background-color: #ffffff;
  border: 1px solid rgba(87, 147, 253,.4);
 }
 .displayWrapperExercise { 
padding: 3rem;
 }

 .displayWrapperDashboard {
   margin: 0 auto;
   width: 50%;
   }

.d-none {
  display: none !important;
}
.new-workout {
  display: none;
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

/* ************************* */
/* BUTTONS/ANCHORS SECTION */
.prev-workout {
  text-align: center;
  padding-top: 1rem;
}
.workoutButton {
  padding: 0;
  margin: 0;
 }
#continue-btn, #new-workout-btn {
  margin: .5rem;
  background-color: #99ecec;
  padding: 1.5rem;
  border-radius: 10px;
}

.exercise .buttonsWrapper {
  margin-top: 20px;
  display: flex;
  padding: 1rem 0;
 }

.exercise .complete,  .exercise .add-another {
  width: 50%;
  border: 2px solid #fff;;
  background-color: #c0e3e7;
  padding: 1rem 0;
  color:  #949494;
}
.prev-workout .buttons {
  display: flex;
  padding: 1rem;
}
.buttons .ui.button {
  margin: 0;
  width: 50%;
}
a, a:hover, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
opacity: .7;
}

/* ************************* */
/* FORM SECTION */
/* .formWrapper {
padding: 3rem;
} */
input {
  display: block;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #aaa;
  width: 100%;
  padding: 10px;
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}

input:focus::placeholder {
  color: transparent;
}

select {
  display: block;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #aaa;
  width: 100%;
  padding: 10px;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

select::-ms-expand {
  display: none;
}

select:hover {
  border-color: rgb(243, 147, 118);
}
select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
select option {
  font-weight: normal;
  width: 100%;
  color: #4e4e4e;
}
form .workout-type,
form .cardio-form div,
form .resistance-form div {
  display: flex;
  margin-top: 1rem;
}
form label {
  width: 250px;
  margin-top: 0.7rem;
}
form::after {
  content: " ";
  display: block;
  clear: both;
}

/* ************************* */
/* TOAST (POP UP) SECTION */
#toast {
  border-radius: 4px;
  border-width: 1px;
  font-size: 13px;
  line-height: 19.5px;
  margin: 0px 0px 16px;
  padding: 12px 59.5px 12px 20px;
  text-align: left;
  width: 300px;
  min-height: 80px;
  position: fixed;
  top: 10px;
  right: -320px;
  opacity: 0;
  transition: all 0.5s;
}

#toast.success {
  opacity: 1;
  right: 10px;
  transition: all 0.5s;
  background-color: hsl(94, 40%, 86%);
  color: hsl(94, 90%, 16%);
  animation-name: toast;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/* ************************* */
/* KEY FRAMES */
@keyframes toast {
  50% {
    opacity: 1;
    right: 10px;
  }
  100% {
    opacity: 0;
    right: -320px;
  }
}

/* ************************* */
/* MEDIA QUERY */
@media (min-width: 769px) {
  .navbar-brand {
    font-size: 1.8rem;
    padding-left: 1rem;
}
nav {
  background-color: #5793fd;
  color: #fff;
  font-size: 1.1rem;
  }
}